.main-about {
    background: url('../images/bg-contact.png') no-repeat center center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    .main-about-header {
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            h1 {
                font-weight: bold;
            }
            p {
                color: $flat99;
            }
        }
    }
}
.article-about {
    padding-top: 50px;
    padding-bottom: 50px;
    .article-image {
        margin-bottom: 20px;
        > div {
            background: url('../images/a20.jpeg') no-repeat center center;
            height: 350px;
            background-size: cover;
        }
    }
    .article-content {
        p {
            line-height: 1.8;
            color: $flatA5;
        }
    }
}