// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$maxLarge: "(max-width: 1199px)";

// colors
$bgNavbar: #a2c046;
$bgLink: #bbd95f;
$bgHeader: #3a3a3a;
$flatHeader: #7d7d7d;
$flatFFF: #fff;
$hoverHeader: #b0b0b0;
$flatblack: #000;
$flatblack1: #464646;
$flatblack2: #292929;
$headerColor: #d6f47a;
$btnColor: #a2c046;
$hoverBtn: #98b63c;
$header-color: #9fc612;
$flatA5: #a5a5a5;
$flatE6: #e6e6e6;
$flat75: #757575;
$flat99: #999999;
$flatF5: #f5f5f5;
$whatsapp: #25D366;

// properties
$transitionDuration: .4s;